

body {
    max-width: 500px;
    margin: 0px auto 0px auto;
    font-family: 'Dosis', sans-serif;
}

.cycle {

}

.cycle_day {
    background-color: white;
    color: black;
}

.cycle_night {
    background-color: black;
    color: white;
}

.grey_text {
    color: grey;
}

.row {
    margin-top: 20px;
}

.condition {
    margin-top: 0px;
}


.cond_img {
    font-size: 850%;
    margin: 15px 0px 15px 0px;
}

.wind_container {
    margin-top: 0px;
}

.time {
    margin-top: 0px;
}

.temp_container > div {
    margin-left: 5px;
    margin-right: 5px;
}

.temp_main_div {
    font-size: 140%;
}

.fa-wind {
    margin-right: 10px;
}

.json_contents {
    width: 100%;
    min-height: 150px;  
}

.map {
    margin-top: 40px;
    height: 200px;
}

.c_left {
    text-align: left;
    vertical-align: middle;
    color: grey;
    font-size: 150%;
    margin: 0px 10px 0px 10px;
}

.c_right {
    text-align: right;
    vertical-align: middle;
    color: grey;
    font-size: 150%;
    margin: 0px 10px 0px 10px;
}